---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import { Markdown } from '@astropub/md'
---

<Layout title="Pieklūstamības paziņojums | Jaunā E‑veselības iedzīvotāju portāla prototips">
	<Header link="/#prototips"/>
    <main>
        <div class="notification">
            <div class="wrap">
                <div class="text">
                    <Markdown of={`
# Pieklūstamības paziņojums

Nacionālais veselības dienests apņemas veidot savu tīmekļvietni piekļūstamu saskaņā ar Ministru kabineta 2020. gada 14. jūlija noteikumiem Nr. 445 “Kārtība, kādā iestādes ievieto informāciju internetā” (turpmāk – noteikumi Nr. 445).
Šis piekļūstamības paziņojums attiecas uz Nacionālā veselības dienesta tīmekļvietni – https://www.teste.lv/ 
Tīmekļvietnei veikts Vienkāršotais izvērtējums. Izmantotā metode – VARAM sagatavotās “Vadlīnijas iestāžu tīmekļvietnēm noteikto piekļūstamības prasību ievērošanas ietekmes izvērtēšanai un nesamērīgā sloga pamatošanai”.



## Cik piekļūstama ir šī tīmekļvietne?

Šī tīmekļvietne pēdējo reizi tika izvērtēta 16.12.2024. Izvērtēšanu veica SIA Turn Digital.  
Izvērtējumu apliecinošs dokuments: <a href="/TesteLv-izvertesanas-protokols.pdf" target="_blank" rel="noopener noreferrer">izvērtēšanas protokols</a>.  
Nacionālā veselības dienesta  tīmekļvietne pilnībā atbilst noteikumiem Nr. 445.  


## Atsauksmēm un saziņai

Mēs nepārtraukti cenšamies uzlabot šīs tīmekļvietnes piekļūstamību.  
Ja Jūs konstatējat kādas problēmas vai nepilnības, kas nav minētas šajā paziņojumā, sazinieties ar mums:  
E-pasts: peteris.jurcenko@pieklustamiba.lv  
Tālrunis:+371 28 280 185  
Mēs izskatīsim Jūsu pieprasījumu un sniegsim atbildi 5 (piecu) darba dienu laikā.  



## Sūdzību iesniegšana

E-pasts: irena.vasiljeva@vmnvd.gov.lv   
Tālrunis: +371 67043789  
Ja neesam atbilstoši reaģējuši uz Jūsu iesniegumu vai sūdzību par tīmekļvietnes satura piekļūstamību, Jums ir iespēja iesniegt sūdzību Latvijas Republikas Tiesībsargam:  

Tiesībsarga birojs: Baznīcas iela 25 Rīgā, LV-1010  
Tālrunis: +37167686768  
E-pasts: tiesibsargs@tiesibsargs.lv  



## Ziņas par paziņojuma sagatavošanu

Šis paziņojums pirmo reizi tika sagatavots 16.12.2024.
                        
                        `} />
                </div>
            </div>
        </div>
    </main>
    <Footer/>
</Layout>

<style lang="scss">
    .notification {
        padding: 80px 0;
    }

</style>