---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import { Markdown } from '@astropub/md'
---

<Layout>
	<Header link="/#prototips"/>
    <main>
        <div class="notification">
            <div class="wrap">
                <div class="text">
                    <Markdown of={`
# Uzrunāto dalībnieku saraksts
Biedrības
- “Latvijas Ģimenes ārstu asociācija”,
- "Latvijas Lauku ģimenes ārstu asociācija",
- Onkoloģisko pacientu savstarpējās palīdzības biedrības "Par Dzīvot",
- pacientu organizācija “Dzīvības koks”,
- Latvijas Onkoloģijas pacientu organizāciju apvienība "ONKOALIANSE",
- Apeirons,
- Sustento,
- Latvijas pacientu organizāciju tīkls,
- Latvijas hemofīlijas biedrība.

                        
                        `} />
                </div>
            </div>
        </div>
    </main>
    <Footer/>
</Layout>

<style lang="scss">
    .notification {
        padding: 80px 0;
    }
</style>
