---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import { Markdown } from '@astropub/md'
---

<Layout title="Uzrunāto dalībnieku saraksts | Jaunā E‑veselības iedzīvotāju portāla prototips">
	<Header link="/#prototips"/>
    <main>
        <div class="notification">
            <div class="wrap">
                <div class="text">
                    <Markdown of={`
# Uzrunāto dalībnieku saraksts
## Biedrības
- Latvijas Ģimenes ārstu asociācija,
- Latvijas Lauku ģimenes ārstu asociācija,
- Onkoloģisko pacientu savstarpējās palīdzības biedrības "Par Dzīvot",
- Pacientu organizācija “Dzīvības koks”,
- Latvijas Onkoloģijas pacientu organizāciju apvienība "ONKOALIANSE",
- Invalīdu un viņu draugu apvienība "Apeirons",
- Latvijas Cilvēku ar īpašām vajadzībām sadarbības organizācija SUSTENTO,
- Latvijas Pacientu organizāciju tīkls,
- Latvijas Hemofīlijas biedrība.

                        
                        `} />
                </div>
            </div>
        </div>
    </main>
    <Footer/>
</Layout>

<style lang="scss">
    .notification {
        padding: 80px 0;
    }
</style>
