---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import { Markdown } from '@astropub/md'
---

<Layout>
	<Header link="/#prototips"/>
    <main>
        <div class="notification">
            <div class="wrap">
                <div class="text">
                    <Markdown of={`# Heading 1
## Heading 2
### Heading 3
#### Heading 4
- item 1
- item 2
- item 2
- - subitem 1
    - subitem 2
paragraph 1
paragraph 2
1. item 1
2. item 2
3. item 3
4. item 4
    1. subitem 1
    2. subitem 2
[Random link](https://www.teste.lv/pieklustamibas-pazinojums/#) going
                        
                        `} />
                </div>
            </div>
        </div>
    </main>
    <Footer/>
</Layout>

<style lang="scss">
    .notification {
        padding: 80px 0;
    }
</style>