---
---
<footer class="footer">
    <div class="wrap">
        <div class="footer__content">
            <div class="footer__col">
                <img src="" alt="">
                <address>
                    Nacionālais veselības dienests<br>
                    Cēsu iela 31 k-3, 6. ieeja, Rīga, LV-1012
                  </address>
            </div>
            <div class="footer__col">
                <div itemscope itemtype="https://schema.org/Organization">
                    <p itemprop="name">E-veselības atbalsta dienests/p>
                    <p>
                      <a href="tel:+37122812313" itemprop="telephone" aria-label="Call E-veselības atbalsta dienests at +371 2281 2313">
                        +371 2281 2313
                      </a>
                    </p>
                    <a class="footer__link" href="$" title="Iet uz piekļūstamības paziņojuma portālu" target="_blank" rel="noopener noreferrer">Pieklūstamības paziņojums</a>
                  </div>
            </div>
        </div>
    </div>
</footer>