---
import logo from '../assets/logo.png';
interface Props {
  link: string;
}

const { link } = Astro.props;
---
<header class="header" itemscope itemtype="https://schema.org/WPHeader">
  <div class="wrap">
      <nav class="header__nav" itemscope itemtype="https://schema.org/SiteNavigationElement" aria-label="Main Navigation">
          <!-- Logo Link -->
          <a class="header__logo" href="/" itemscope itemtype="https://schema.org/Organization" itemprop="url" aria-label="Go to Home">
              <img src={logo.src} width="29px" height="32px" alt="E-veselības logotips" itemprop="logo" />
          </a>

          <!-- Main Navigation Menu -->
          <ul class="header__menu" role="navigation">
              <li>
                  <a class="link" href={link} itemprop="name" aria-label="View the prototype section">Skatīt prototipu</a>
              </li>
          </ul>
      </nav>
  </div>
</header>

<style lang="scss">
    .header {
      padding: 16px 0;
      border-bottom: 1px solid var(--border-subtle-01-light);

      // &__logo { // if logo will be squered then will be ok
      //   transform: rotate(0);
      //   transform-origin: center;
      //   transition: all 0.3s ease-in;

      //   &:hover {
      //     transform: rotate(360deg);
      //   }
      // }

      &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          &:hover, &:focus-visible {
            color: var(--button-secondary-hover);
            text-decoration: underline;
          }
        }
      }
    }
</style>