---
import logo from '../assets/logo.png';
---
<header class="header">
    <div class="wrap">
        <nav itemscope itemtype="https://schema.org/SiteNavigationElement" aria-label="Main Navigation">
            <a href="/" itemscope itemtype="https://schema.org/Organization" itemprop="url" aria-label="Go to Home">
              <img src={logo.src} width="30px" height="32px" alt="E-veselības logotips" itemprop="logo"/>
            </a>
            <ul>
              <li>
                <a href="#prototips" itemprop="name">Skatīt prototipu</a>
              </li>
            </ul>
          </nav>
    </div>
</header>

<style lang="scss">
    .header {
    }
</style>