---
import Button from "./Button.astro"
---
<div class="insight">
    <div class="wrap">
        <div class="insight__content">
            <h3 class="insight_title title">Sniedz savas atziņas</h3>
            <div class="insight__desc text">
                <p>Kad esi apskatījis prototipu, padalies, kas tev likās vērtīgs jaunajā E‑veselības portālā un kas, tavuprāt, būtu uzlabojams!</p>
            </div>
            <Button title="Rakstīt komentāru" action={()=>console.log('test')}/>
        </div>
    </div>
</div>

<style lang="scss">
    .insight {
        padding: 72px 0 0;
        background-color: var(--background-light);
    }
</style>