---
import Banner from "./Banner.astro";
import Button from "./Button.astro";
import handImage from '../assets/hand.webp';

---
<div class="join" id="prototips" itemscope itemtype="https://schema.org/WebPage">
    <div class="wrap">
        <div class="join__content">
            <div class="join__col">
                <h3 class="join__title title" itemprop="name">Kā iesaistīties?</h3>
                
                <!-- FAQ Section -->
                <div itemscope itemtype="https://schema.org/FAQPage">
                    <div class="join__item" itemscope itemtype="https://schema.org/Question">
                        <h4 class="join__subtitle" itemprop="name">Izpēti sadaļas un funkcijas!</h4>
                        <div itemscope itemtype="https://schema.org/Answer">
                            <p class="join__desc" itemprop="text">
                                Izvēlies vienu vai vairākus lietotāju profilus, pārlūko sadaļas, klikšķini uz funkcijām un pamēģini atrast konkrētu informāciju.
                            </p>
                        </div>
                    </div>
                    <div class="join__item" itemscope itemtype="https://schema.org/Question">
                        <h4 class="join__subtitle" itemprop="name">Dalies ar savu viedokli!</h4>
                        <div itemscope itemtype="https://schema.org/Answer">
                            <p class="join__desc" itemprop="text">
                                Uzraksti komentāru anketā zemāk, kas Tev šķita vērtīgs un ko varētu uzlabot.
                            </p>
                        </div>
                    </div>
                </div>
                
                <!-- Banner and Button -->
                <Banner />
                <Button
                    label="Skatīt prototipu"
                    title="Atvērt prototipu"
                    classList="button--purple"
                    link="#prototips"
                    type="open"
                />
            </div>
            <div class="join__col">
                <img
                    src={handImage.src}
                    alt="Roka, kas tur telefonu ar piekļuvi jaunajam portālam"
                    itemprop="image"
                    width="460px"
                    height="862px"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
    
    <!-- Comments Section -->
    <div class="wrap">
        <div class="join__comment" itemscope itemtype="https://schema.org/WebPageElement" itemprop="comment">
            <h4 id="comment-title">Sniedz savas atziņas</h4>
            <p id="comment-desc">
                Kad esi apskatījis prototipu, padalies - kas tev personīgi likās vērtīgs jaunajā E‑veselības portālā un kas, tavuprāt, būtu uzlabojams!
            </p>
            <Button
                 classList="button--dark"
                label="Rakstīt komentāru"
                link="/"
                title="Rakstīt komentāru"
            />
        </div>
    </div>
</div>

<style is-global lang="scss">
    .join {
        padding: 92px 0 24px;
        background-color: var(--background-light);

        &__item {
            & + .join__item {
                margin-top: 24px;
            }
        }

        &__col {
            &:nth-of-type(2) {
                display: flex;
                justify-content: flex-end;

                img {
                    max-width: 320px;
                    width: auto;
                    height: auto;
                }
            }
        }

        &__comment {
            display: flex;
            padding: 24px 40px 24px 24px;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            border: 1px solid var(--border-subtle-01-light);
            background-color: var(--layer-01-light);

            h4 {
                margin-bottom: 16px;
            }

            p {
                margin-bottom: 32px;
            }
        }

        @media (min-width: 1024px) {
            &__content {
                display: flex;
                gap: 16px;
            }

            &__col {
                flex: 1;

                &:nth-of-type(1) {
                    padding-bottom: 104px;
                }

                &:nth-of-type(2) {
                    margin-top: -122px;

                    img {
                        max-width: 460px;
                    }
                }
            }
        }
    }
</style>