---
---
<div class="news">
    <div class="wrap">
        <div class="news__content">
            <h3 class="news_title title">Kas jauns paredzēts E‑veselības portālā?</h3>
            <div class="news__desc text">
                <p>E-veselībā tiek ieviesti aizvien jauni pakalpojumi. Šobrīd tajā pieejamas: e‑receptes, e‑darbnespējas lapas, e‑nosūtījumi, laboratorisko izmeklējumu un vizuālās diagnostikas izmeklējumu rezultāti un daudzi citi.</p>
                <p>Jaunajā portālā būs pieejams arī Veselības plāns, kas līdzīgi kā kalendārs ietvers informāciju par visām konkrētā lietotāja aktualitātēm.</p>
                <p>Tiks ieviests arī:</p>
                <ul>
                    <li>E-nosūtījums</li>
                    <li>E-pieraksts</li>
                    <li>Paziņojumi</li>
                    <li>Atgādinājumi e-pastā</li>
                </ul>
                <p>Kā arī jaunais portāls būs ērti izmantojams viedierīcēs.</p>
            </div>
        </div>
    </div>
</div>