---
import mobileImage from '../assets/news-mobile.webp';
---
<div class="news" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="wrap">
        <div class="news__content">
            <!-- Title -->
            <h3 class="news_title title" itemprop="headline">Kas jauns paredzēts E‑veselības portālā?</h3>
            
            <!-- Description Text -->
            <div class="news__desc text" itemprop="description">
                <p>E-veselībā tiek ieviesti aizvien jauni pakalpojumi. Šobrīd tajā pieejamas: e‑receptes, e‑darbnespējas lapas, e‑nosūtījumi, laboratorisko izmeklējumu un vizuālās diagnostikas izmeklējumu rezultāti un daudzi citi.</p>
                <p>Jaunajā portālā būs pieejams arī Veselības plāns, kas līdzīgi kā kalendārs ietvers informāciju par visām konkrētā lietotāja aktualitātēm.</p>
                <p>Tiks ieviests arī:</p>
                <ul>
                    <li>E-pieraksts</li>
                    <li>Paziņojumi</li>
                    <li>Atgādinājumi e-pastā</li>
                </ul>
                <p>Kā arī jaunais portāls būs ērti izmantojams viedierīcēs.</p>
            </div>
        </div>

        <!-- Image with Alt text -->
        <div class="news__image">
            <img 
                src={mobileImage.src} 
                alt="Mobīlais telefons ar ekrānšāviņu." 
                itemprop="image"
                width="532px"
                height="772px"
                loading="lazy"
            />
        </div>
    </div>
</div>

<style lang="scss">
    .news {
        padding: 72px 0 0;
        background-color: var(--background-light);
        border-top: 1px solid var(--border-subtle-01-light);

        .wrap {
            position: relative;
        }

        &__image {
            margin-top: 40px;
            display: flex;
            justify-content: center;

            img {
                max-width: 310px;
                width: auto;
                height: auto;
            }
        }

        &__content {
            max-width: 540px;
        }

        @media (min-width: 720px) {
            &__content {
                width: 65%;
            }
            &__image {
                position: absolute;
                top: 50%;
                right: 0;
                width: 35%;
                transform: translateY(-50%);

                img {
                    width: 100%;
                    max-width: inherit;
                }
            }
        }

        @media (min-width: 1024px) {
            &__image {
                width: 532px;
            }
		}
    }
</style>