---
---
<div class="participants">
    <div class="wrap">
        <div class="participants__content">
            <div class="participants__col">
                <h3 class="solutions__title title">Tehniskie risinājumi, kas ņemti vērā</h3>
                <div class="participants__desc text">
                    <p>Prototipa veidošanai tika uzrunāti vairāki dalībnieki no dažādām organizācijām, ārstniecības iestādēm u.c., lai nodrošinātu visu pušu vajadzību un interešu apzināšanu.</p>
                    <a href="#" title="Uzrunāto dalībnieku saraksts" target="_blank" rel="noopener noreferrer">Uzrunāto dalībnieku saraksts</a>
                </div>
            </div>
            <div class="participants__col">
                slider...
            </div>
        </div>
    </div>
</div>