---
import arrowRight from '../assets/arrow--right.svg';
import profileImage from '../assets/janis.png';
import quotes from '../assets/quotes.svg';
---
<div class="participants">
    <div class="wrap">
        <div class="participants__content">
            <div class="participants__col">
                <h3 class="solutions__title title">Projekta dalībnieki</h3>
                <div class="participants__desc text">
                    <p>Prototipa veidošanai tika uzrunāti vairāki dalībnieki no dažādām organizācijām, ārstniecības iestādēm u.c., lai nodrošinātu visu pušu vajadzību un interešu apzināšanu.</p>
                    <a class="participants__link" href="/uzrunato-dalibnieku-saraksts" title="Uzrunāto dalībnieku saraksts" target="_self" rel="noreferrer">
                        Uzrunāto dalībnieku saraksts
                        <img src={arrowRight.src} width="16px" height="16px" alt="Bulta norāda virzienu pa labi"/>
                    </a>
                </div>
            </div>
            <div class="participants__col">
                <!-- <div class="quote">
                    <div class="quote__content">
                        <img src={quotes.src} alt="Melnas pēdiņas" width="32px" height="32px">
                        <p>Vestibulum hendrerit blandit auctor. Vivamus ex odio, lacinia non nulla id, placerat pharetra tortor.</p>
                    </div>
                    <div class="quote__person">
                        <img src={profileImage.src} loading="lazy" alt="Jānis Līgciemietis portrets" width="48px" height="48px">
                        <div class="quote__info">
                            <p class="quote__name">Jānis Līgciemietis</p>
                            <p class="quote__work">Apeirons</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<style lang="scss">
    .participants {
        padding: 96px 0 0;
        background-color: var(--background-light);

        &__link {
            margin-top: 24px;
            padding: 12px 4px;
            display: inline-block;
            text-decoration: underline;

            &:hover {
                color: var(--primary);
                background-color: rgba(141, 141, 141, 0.50);
            }

            img {
                position: relative;
                top: 2px;
                margin-left: 4px;
            }
        }

        @media (min-width: 1024px) {
            &__content {
                display: flex;
                gap: 16px;
            }

            &__col {
                flex: 1;
            }
        }
    }

    .quote {
        padding: 24px;
        max-width: 444px;
        border: 1px solid var(--border-subtle-01-light);
        background-color: var(--layer-01-light);

        &__content {
            display: flex;
            gap: 24px;
        }

        &__person {
            margin-top: 40px;
            display: flex;
            gap: 10px
        }

        &__name {
            font-weight: bold;
        }
    }
</style>