---
import iconA11y from '../assets/icon-a11y.svg';
import iconMobile from '../assets/icon-mobile.svg';
import iconPerson from '../assets/icon-favorite.svg';
---
<div class="solutions" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="wrap">
        <div class="solutions__content">
            <!-- Main Title -->
            <h3 class="solutions_title title" itemprop="name">Tehniskie risinājumi, kas ņemti vērā</h3>

            <!-- Description Text -->
            <div class="solutions__desc text" itemprop="description">
                <p>Izstrādājot prototipu, ņemti vērā vairāki mūsdienās būtiski tehniskie aspekti:</p>
            </div>

            <!-- Solutions List -->
            <div class="solutions__list">
                
                <!-- Accessibility Solution -->
                <div class="solutions__item" itemscope itemtype="https://schema.org/Thing">
                    <img 
                        src={iconA11y.src} 
                        alt="Cilvēka simbols aplī" 
                        width="32" 
                        height="32" 
                        itemprop="image"
                        loading="lazy"
                    >
                    <div class="solutions__item-content">
                        <h4 itemprop="name">Piekļūstamība</h4>
                        <p itemprop="description">Ievēroti WCAG (Web Content Accessibility Guidelines) standarti, lai portāls būtu pieejams visiem.</p>
                    </div>
                </div>

                <!-- Mobile-First Approach -->
                <div class="solutions__item" itemscope itemtype="https://schema.org/Thing">
                    <img 
                        src={iconMobile.src} 
                        alt="Mobīlais ekrāns ar ķeksīti" 
                        width="32" 
                        height="32" 
                        itemprop="image"
                        loading="lazy"
                    >
                    <div class="solutions__item-content">
                        <h4 itemprop="name">“Mobilie vispirms” pieeja</h4>
                        <p itemprop="description">Dizains un funkcionalitāte ir optimizēti mobilajām ierīcēm, nodrošinot ērtu lietošanas pieredzi dažādos ekrānos.</p>
                    </div>
                </div>

                <!-- User-Centered Design -->
                <div class="solutions__item" itemscope itemtype="https://schema.org/Thing">
                    <img 
                        src={iconPerson.src} 
                        alt="Cilvēka simbols ar sirdi" 
                        width="32" 
                        height="32" 
                        itemprop="image"
                        loading="lazy"
                    >
                    <div class="solutions__item-content">
                        <h4 itemprop="name">Lietotājcentrēta pieeja</h4>
                        <p itemprop="description">Fokuss uz lietotāju vajadzībām visā izstrādes procesā. Veiktas lietotāju intervijas, kartiņu šķirošana, navigācijas koka tests, prototipa testēšana u.c.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<style lang="scss">
    .solutions {
        padding: 96px 0 0;
        background-color: var(--background-light);

        &__item {
            margin-top: 24px;
            display: flex;

            & + .solutions__item {
                margin-top: 32px;
            }
        }

        &__item-content {
            margin-left: 16px;
            flex: 1;
        }

        @media (min-width: 1024px) {
            &__list {
                padding-top: 24px;
                display: flex;
                gap: 32px;
            }
            &__item {
                margin-top: 0;
                flex-direction: column;

                & + .solutions__item {
                    margin-top: 0;
                }
            }

            &__item-content {
                margin-top: 16px;
                margin-left: 0;
            }
        }
    }
</style>