---
---
<div class="solutions">
    <div class="wrap">
        <div class="solutions__content">
            <h3 class="solutions_title title">Tehniskie risinājumi, kas ņemti vērā</h3>
            <div class="solutions__desc text">
                <p>Izstrādājot prototipu, ņemti vērā vairāki mūsdienās būtiski tehniskie aspekti:</p>
            </div>
            <div class="solutions__list">
                <div class="solutions__item">
                    <img src="" alt="">
                    <h4>Piekļūstamība</h4>
                    <p>Ievēroti WCAG (Web Content Accessibility Guidelines) standarti, lai portāls būtu pieejams visiem.</p>
                </div>
                <div class="solutions__item">
                    <img src="" alt="">
                    <h4>“Mobilie vispirms” pieeja</h4>
                    <p>Dizains un funkcionalitāte ir optimizēti mobilajām ierīcēm, nodrošinot ērtu lietošanas pieredzi dažādos ekrānos.</p>
                </div>
                <div class="solutions__item">
                    <img src="" alt="">
                    <h4>Lietotājcentrēta pieeja</h4>
                    <p>Fokuss uz lietotāju vajadzībām visā izstrādes procesā. Veiktas lietotāju intervijas, kartiņu šķirošana, navigācijas koka tests, prototipa testēšana u.c.</p>
                </div>
            </div>
        </div>
    </div>
</div>