---
---
<div class="steps" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="wrap">
        <div class="steps__content">
            <!-- Title -->
            <h3 class="steps_title title" itemprop="name">Nākamie soļi 5 gadu laikā</h3>

            <!-- Steps List -->
            <ul class="steps__list" itemprop="text">
                <!-- Step 1 -->
                <li itemscope itemtype="https://schema.org/HowToStep">
                    <span itemprop="name">E‑nosūtījuma obligāta izmantošana</span>
                </li>
                
                <!-- Step 2 -->
                <li itemscope itemtype="https://schema.org/HowToStep">
                    <span itemprop="name">Lietotāju iesaiste un testēšana arī turpmākā izstrādes procesā</span>
                </li>

                <!-- Step 3 -->
                <li itemscope itemtype="https://schema.org/HowToStep">
                    <span itemprop="name">E-pieraksta funkcionalitātes izstrāde</span>
                </li>

                <!-- Step 4 -->
                <li itemscope itemtype="https://schema.org/HowToStep">
                    <span itemprop="name">Veselības plāna izstrāde</span>
                </li>

                <!-- Step 5 -->
                <li itemscope itemtype="https://schema.org/HowToStep">
                    <span itemprop="name">Veselības bibliotēka, personalizētā medicīna, telemedicīna, zāļu bibliotēka u.c.</span>
                </li>
            </ul>
        </div>
    </div>
</div>


<style lang="scss">
    .steps {
        margin-top: -16px;
        background-color: var(--background-light);

        &__list { 
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;
        }
        li {
            padding: 24px 40px 24px 24px;
            width: 100%;
            border: 1px solid var(--border-subtle-01-light);
            background: var(--layer-01-light);
        }

        @media (min-width: 720px) {
            padding-top: 132px;
        }
    }
</style>