---
---
<div class="steps">
    <div class="wrap">
        <div class="steps__content">
            <h3 class="steps_title title">Kas jauns paredzēts E‑veselības portālā?</h3>
            <ul class="steps__list">
                <li>E‑nosūtījuma obligāta izmantošana</li>
                <li>Lietotāju iesaiste un testēšana arī turpmākā izstrādes procesā</li>
                <li>E-pieraksta funkcionalitātes izstrāde</li>
                <li>Veselības plāna izstrāde</li>
                <li>Veselības bibliotēka, personalizētā medicīna, telemedicīna, zāļu bibliotēka u.c.</li>
            </ul>
        </div>
    </div>
</div>