<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name=description content="Projekts paredz jaunās paaudzes iedzīvotāju E-veselības portāla prototipa izveidi. Prototips – portāla vīzijas modelis."/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>Jaunā E‑veselības iedzīvotāju portāla prototips</title>

		<!-- favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/site.webmanifest">

		<!-- fb meta -->
		<meta property="og:url"                content="https://teste.lv" />
		<meta property="og:type"               content="website" />
		<meta property="og:title"              content="Jaunā E‑veselības iedzīvotāju portāla prototips" />
		<meta property="og:description"        content="Projekts paredz jaunās paaudzes iedzīvotāju E-veselības portāla prototipa izveidi. Prototips – portāla vīzijas modelis." />
		<meta property="og:image"              content="/fb-meta.png" />
	</head>
	<body>
		<slot></slot>
	</body>
</html>

<style is:global>
	/* global styling */
	:root {
		--background-light: #F7F3F2;
		--primary: #913A9C;
		--border-subtle-01-light: #E5E0DF;
		--layer-01-light: #FFFFFF;
		--btn-secondary: #413143;
		--text-primary: #171414;
		--text-on-color: #FFFFFF;

		--background-dark: #171414;
		--border-subtle-01-dark: #393939;
		--layer-01-dark: #272525;
		--text-secondary: #C6C6C6;

		--link-primary: #C982D4;
		--button-primary: #A224B2;
		--button-secondary: #413143;
		--button-secondary-hover: #6A2B72;
	}

	@font-face {
		font-family: 'Roboto';
		src: url('../assets/Fonts/Roboto-Regular.woff');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
  	}

	@font-face {
		font-family: 'Roboto';
		src: url('../assets/Fonts/Roboto-Regular.woff');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
  	}

	@font-face {
		font-family: 'Roboto';
		src: url('../assets/Fonts/Roboto-Bold.woff');
		font-weight: 700;
		font-style: bold;
		font-display: swap;
  	}

	  @font-face {
		font-family: 'Roboto';
		src: url('../assets/Fonts/Roboto-Light.woff');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
  	}

	*,
	*::before,
	*::after {
	box-sizing: border-box;
	}
	
	/* reset */
	h1,h2,h3,h4,h5,h6 {
		margin: 0;
	}
	p {
		margin: 0;
		padding: 0;
	}
	a {
		text-decoration: none;
		transition: all 0.1s ease-in;
		outline: none;
		&:focus-visible {
			box-shadow: inset 0 0 0 2px var(--button-primary);
		}
	}
	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	html {
  		scroll-behavior: smooth;
	}
	html,
	body {
		padding: 0;
		margin: 0;
		font-family: 'Roboto', 'Helvetica', sans-serif;
		color: var(--text-primary);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; 
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh; /* Ensure full viewport height */
	}

	main {
		flex: 1;
	}

	img {
		display: inline-block;
	}

	.wrap {
		margin: 0 auto;
		/* removing 24px from each side as design */
		max-width: calc(100% - 48px);
		
		@media (min-width: 1024px) {
			padding: 0 24px;
			max-width: 960px;
		}
	}

	.link {
		color: var(--primary);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.16px;

		&--underline {
			text-decoration: underline;
		}
	}

	.title {
		margin-bottom: 24px;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.text {
		p {
			font-family: Roboto;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;

			& + p {
				margin-top: 24px;
			}
		}

		ul {
			& + ul,
			& + p {
				margin-top: 24px;
			}
		}

		li {
			position: relative;
			padding-left: 16px;

			&:before {
				content: '';
				position: absolute;
				top: 10px;
				left: 0;
				display: inline-block;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: var(--text-primary);
			}
		}

		a {
			color: var(--primary);
			text-decoration: underline;

			&:hover, &:focus-visible{
				color: var(--button-secondary-hover);
			}

			svg {
				position: relative;
				top: 4px;
				margin-left: 2px;
			}
		}

		h1 {
			margin-bottom: 24px;
			font-size: 40px;
			font-style: normal;
			font-weight: 300;
			line-height: 48px;
		}
		h2 {
			margin-bottom: 24px;
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
			line-height: 32px;
		}
		h3 {
			margin-bottom: 24px;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px;
		}
		h4 {
			margin-bottom: 24px;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px;
		}
	}

	h4 {
		font-size: 18px;
		font-weight: 700;
	}
</style>
